*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#counter {
    color: white;
    font-size: 24px;
}

.card {
    align-self: center;
    margin-top: 10rem;
    padding: 2rem;
    max-width: 50rem;
}

.answerBtns {
    gap: 10px;
    margin: 5px;
    width:25%;
}

#error {
    font-style: bold;
    font-style: italic;
    color: red;
}

#correct {
    font-style: bold;
    font-style: italic;
    color: green;
}

#startQuiz {

    width: fit-content;
}

#startQuiz {
    display: inline-block;
    width: auto;
}

#result {
    font-size: xx-large;
}